* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, header, footer, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-weight: 500;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'raleway_c';
  src: url(/ready-html/fonts/raleway-v22-cyrillic-300.woff2);
  font-weight: 300;
}

@font-face {
  font-family: 'raleway_c';
  src: url(/ready-html/fonts/raleway-v22-cyrillic-100.woff2);
  font-weight: 100;
}

h1, h2, h3, h4 {
  font-weight: 100;
  text-transform: uppercase;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  line-height: 1;
}

body {
  background: #000;
  color: #fff;
  font-size: calc(1.8vw + 1.8vh);
  font-family: raleway_c, sans-serif;
  height: 4000px;
  font-weight: 300;
}

.container {
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-perspective: 1500px;
          perspective: 1500px;
}

.gallery {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 100%;
}

.frame {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.75s cubic-bezier(0.075, 0.5, 0, 1), opacity 0.75s ease;
  transition: 0.75s cubic-bezier(0.075, 0.5, 0, 1), opacity 0.75s ease;
  will-change: transform;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.frame h2 {
  text-align: center;
  font-size: calc((1vw + 1vh)*3.3);
}

.frame-media {
  position: relative;
  width: calc((1vw + 1vh)*(26));
  height: calc((1vw + 1vh)*(36));
  background-position: center;
  background-size: cover;
}

.frame_bg {
  background-color: rgba(0, 0, 0, 0.8);
}

.frame-media_left {
  right: calc(calc(26/1.2) * calc(1vw+1vh) + 30px);
}

.frame-media_right {
  left: calc(calc(26/1.2) * calc(1vw+1vh) + 30px);
}

video.frame-media_left {
  right: calc(calc(36/1.2) * calc(1vw+1vh) + 30px);
}

video.frame-media_right {
  left: calc(calc(36/1.2) * calc(1vw+1vh) + 30px);
}

video.frame-media {
  width: calc((1vw + 1vh)*(36));
  height: calc((1vw + 1vh)*(26));
}

.text-right > * {
  position: relative;
  left: 18vw;
}

.text-left > * {
  position: relative;
  right: 18vw;
}

.frame h3 {
  font-size: calc(calc(1vw+1vh) * 4);
}

.frame p {
  max-width: 30vw;
  margin-top: 5vh;
  font-size: calc(calc(1vw+1vh));
  line-height: 1.8;
}

.soundBtn {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  cursor: pointer;
  width: 24px;
  -webkit-transition: .25s ease;
  transition: .25s ease;
}

.soundBtn.paused {
  -webkit-transition: .25s ease;
  transition: .25s ease;
  opacity: .25;
}
